@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{


  
}

::-webkit-scrollbar {
  display: none;
}

body{
    background-color: #fdebd6;
}

.ellipsis {
    overflow-y: hidden;
    white-space: nowrap;
    
}

.ellipsis-inner {
    text-overflow: ellipsis;
   
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 4;
    -moz-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
    font-size: 0.875em;
    line-height: 1.5;
  }


@layer base{
      
      @font-face {
        font-family: 'Rowan-Medium';
        src: url('./fonts/rowan/Rowan-Medium.woff2') format('woff2'),
             url('./fonts/rowan/Rowan-Medium.woff') format('woff'),
             url('./fonts/rowan/Rowan-Medium.ttf') format('truetype');
             font-weight: 500;
             font-display: swap;
             font-style: normal;
      }
      
      /* Satoshi */


      @font-face {
        font-family: 'Satoshi-Light';
        src: url('./fonts/satoshi/Satoshi-Light.woff2') format('woff2'),
             url('./fonts/satoshi/Satoshi-Light.woff') format('woff'),
             url('./fonts/satoshi/Satoshi-Light.ttf') format('truetype');
             font-weight: 300;
             font-display: swap;
             font-style: normal;
      }

      @font-face {
        font-family: 'Satoshi-Regular';
        src: url('./fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
             url('./fonts/satoshi/Satoshi-Regular.woff') format('woff'),
             url('./fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
             font-weight: 400;
             font-display: swap;
             font-style: normal;
      }
      
      
      
}



